<h1>{{ 'audit.list.title' | translate}}</h1>
<ng-container *ngIf="isInError; else auditList">
  <app-error [resourceName]="'common.resources.audit'">
  </app-error>
</ng-container>
<ng-template #auditList>
  <nz-table
    #table
    nzShowSizeChanger
    [nzData]="displayedData"
    [nzFrontPagination]="false"
    [nzLoading]="isTableLoading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
    <tr>
      <th
        nzColumnKey="name"
        [nzSortFn]="true"
        [(nzSortOrder)]="defaultSortOrder"
      >
        {{ "audit.list.table.name" | translate }}
      </th>
      <th fxHide.xs>
        {{ "audit.list.table.lastUpdatedAt" | translate }}
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of table.data">
      <td>
        <a [routerLink]="['.', data.id]">
          {{ data.name }}
        </a>
      </td>
      <td fxHide.xs>{{ data.updatedAt | date }}</td>
      <td class="actions-cell">
        <button
          nz-button
          nzShape="circle"
          nz-dropdown
          [nzDropdownMenu]="actions"
        >
          <i nz-icon nzType="more"></i>
        </button>
        <nz-dropdown-menu #actions="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a [routerLink]="['.', data.id]">
                <i nz-icon nzType="info-circle" class="primary"></i>
                {{ "common.actions.view" | translate }}
              </a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>
