<nz-layout *ngIf="currentUserService.me$ | async as me; else loginTemplate">
<nz-sider nzTheme="light" nzWidth="64px" nzCollapsible nzBreakpoint="lg" [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li routerLinkActive="ant-menu-item-selected" nz-menu-item>
        <a routerLink="/audit">
          <i nz-icon nzType="file-protect"></i>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
     <div class="header-icons-container" fxLayoutAlign="space-between center">
       <div>
         <i *ngIf="isSmallScreen" class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
       </div>
       <a
         nz-popover
         [nzPopoverTitle]="undefined"
         [nzPopoverContent]="avatarContentTemplate"
         nzPopoverTrigger="click"
         nzPopoverPlacement="bottomRight"
       >
         <i nz-icon nzType="user"></i>
       </a>
     </div>
    </nz-header>
    <nz-content ngClass.xs="small-content">
      <ng-content></ng-content>
    </nz-content>
  </nz-layout>

  <ng-template #avatarContentTemplate>
    <div class="user">
      <h5>{{ 'layout.header.profile.loggedAs' | translate}}</h5>
      <h4>{{ me.email }}</h4>
      <nz-divider></nz-divider>
      <div fxLayoutAlign="center center">
        <button nz-button nzType="default" nzDanger (click)="logout()">
          {{ "layout.header.profile.logout" | translate }}
        </button>
      </div>
    </div>
  </ng-template>

</nz-layout>

<ng-template #loginTemplate>
  <div class="login-modal">
    <nz-result
      [nzIcon]="logoTemplate"
      [nzTitle]="'login.title' | translate"
    >
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          nzShape="round"
          (click)="login()"
        >
          <i nz-icon nzType="google" nzTheme="outline"></i>
          {{ 'login.google' | translate}}
        </button>
      </div>
    </nz-result>
  </div>
</ng-template>
<ng-template #logoTemplate>
  <img
    class="login-logo"
    src="./assets/logo.png"
  />
</ng-template>
