$header-height: 64px;

:host {
  width: 100%;
  height: 100%;
}

nz-layout {
  height: 100vh;
}

.logo {
  height: 32px;
  background-image: url("../../../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  margin: 1rem auto;
}

nz-header {
  background: #fff;
  padding: 0 1rem;
  height: $header-height;

  .header-icons-container {
    width: 100%;
    height: 100%;
  }

  i {
    font-size: 1rem;
  }
}

nz-content {
  padding: 2rem;
  height: calc(100vh - #{$header-height});
  overflow-y: auto;
}

.small-content {
  padding: 1rem;
}

nz-footer {
  text-align: center;
}

.login-logo {
  margin: auto;
  max-width: 96px;
}

.login-modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
